
@{
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Contact Me</title>

</head>
<body>

            <div class="contactInfo">

                <h4 class="contactHeader">Contact Me</h4>
                <br />

                    <div class="form-group">
                        <label>Andrew Baldridge</label>
                    </div>

                    <div class="form-group">
                        <label><a href="mailto:Andrew@andrewgbaldridge.com" 
                              target="_top">Andrew@andrewgbaldridge.com</a></label>
                    </div>

                    <div class="form-group">
                        <label>Phone: (859)-630-6669</label>
                    </div>

            </div>
    @Scripts.Render("~/bundles/commonjavascript")
</body>
</html>
