
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Andrew Baldridge</title>
</head>
<h1>Developer, Entreprenuer, Beard Enthusiast
</h1>
<body>
    <div> 
        I am an I.T. Professional located in Louisville, Kentucky. Currently employed at ZirMed, I am an I.T. Intern within their Engineering 
        department specifically working on internal web apps that are created primarily for monitoring and optimization purposes. As an entreprenuer I
        am involved in the entrepreneurial community as well as a startup in the hunting industry. An avid outdoorsman, you can usually find me in a 
        creek or on a mountain bike trail on the weekends, and as of recently in a tree stand looking for my friend Mr. Whitetail Deer. 
    </div>

</body>
</html>
