
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <title>Andrew Baldridge</title>
</head>
<h1>
</h1>
<body>

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <a href="#" class="navbar-brand">Andrew Baldridge</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="Index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://twitter.com/glen_baldfield" target= "_blank">Twitter</a></li>
                            <li><a href="https://www.facebook.com/andrew.g.baldridge" target="_blank">Facebook</a></li>
                            <li><a href="https://www.youtube.com/channel/UCLVRJtokdLVvvOGLUVVJcjA" target="_blank">Youtube</a></li>
                            <li><a href="https://instagram.com/glen_baldfield/" target="_blank">Instagram</a></li>
                        </ul>

                    </li>
                    <li><a href="Articles.html">404 Error Test</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class= "jumbotron">
        <h1>
            Developer, Entrepreneur, Beard Enthusiast
        </h1>
        <p>
            I am an I.T. Professional located in Louisville, Kentucky. Currently employed at ZirMed, I am an I.T. Intern within their Engineering
            department specifically working on internal web apps that are created primarily for monitoring and optimization purposes. As an entreprenuer I
            am involved in the entrepreneurial community as well as a startup in the hunting industry. An avid outdoorsman, you can usually find me in a
            creek or on a mountain bike trail on the weekends, and as of recently in a tree stand looking for my friend Mr. Whitetail Deer.
        </p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h1>What is Node.js?</h1>
            <p>
                js is a server side scripting language from Javascript for use of application building.
                It is event driven and uses non-blocking in order to have the greatest optimization ability. It operates
                using Google’s V8, operates on a single thread, and uses event loops and package management.
            </p>
        </div>
        <div class="col-md-3">
            <h1>What is Node.js?</h1>
            <p>
                js is a server side scripting language from Javascript for use of application building.
                It is event driven and uses non-blocking in order to have the greatest optimization ability. It operates
                using Google’s V8, operates on a single thread, and uses event loops and package management.
            </p>
        </div>
        <div class="col-md-3">
            <h1>What is Node.js?</h1>
            <p>
                js is a server side scripting language from Javascript for use of application building.
                It is event driven and uses non-blocking in order to have the greatest optimization ability. It operates
                using Google’s V8, operates on a single thread, and uses event loops and package management.
            </p>
        </div>
    </div>
</body>
</html>
