<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="JcsmmQzzAPbXSN-O_hg-rqC83ptdMK-yCg2GHK7G8HM" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css">
    <title>Andrew Baldridge</title>

</head>
<body style="background-image:url(/Content/images/AnselAdamsWilderness.jpg)">
    <div id="Welcome">
            <h1>Andrew Baldridge</h1>
            <a class="btn btn-primary" href="@Url.Action("About","Home")">Learn about me</a>
    </div>
</body>
</html>
