.jumbotron{
    font-weight:bold;
    color:white;
    background-color:green;
}

.navbar {
    margin-bottom:0;
}

h1{
    text-align:center;
    font-family:'Franklin Gothic Medium';
}

#mypicture {
    height:375px;
    width:375px;
}
