@font-face{
    font-family:MonsterUnleashed;
    src:url('../Content/Fonts/MonsterUnleashed.ttf');
}

.navbar{
    position:static;
    width:100%;
    height:150px;
    background:black;
    margin:0;
}

#nav{
    margin:0;
}

#navbarName{
    margin-top:60px;
    margin-bottom:40px;
    font-size:75px;
    font-family:MonsterUnleashed;
    color:white;
}

#buttons > a{
    border-left:1px dashed white;
    color:white;
    margin-top:60px;
    margin-bottom:40px;
    background-color:black;

}

#buttonsRight > a{
    border-right:1px dashed white;
    border-left:1px dashed white;
    color:white;
    margin-top:60px;
    margin-bottom:40px;
    background-color:black;
}

#buttons:hover >a{
    color:black;
    background-color:white;
    border-radius:10px;
}

#buttonsRight:hover >a{
    color:black;
    background-color:white;
    border-radius:10px;
}

.modal-title{
    font-family:Arial;
    font-size:35px;
    color:black;
}

modal-body{
    font-family:Arial;
    font-size:18px;
}

#modalList ul li{
    display:inline;
    padding-left:5px;
}

#modalSocialMedia{
    list-style:none;
    display:inline;
    padding:10px;
}

#Instagram{
    width:32px;
    height:32px;
}

#Twitter {
    width:37px;
    height:37px;
}

#Youtube{
    width:40px;
    height:30px;
}

#Facebook{
    width:28px;
    height:28px;
}
#LinkedIn{
    width:36px;
    height:28px;
}
/*.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background-color:black;
}*/