.unslider { position: relative; overflow:hidden; width:auto;}
.unslider li { list-style: none;}
.unslider ul li {float: right;}

.slides{
    width:25%;
    padding:0;
    margin:0;
}

.slide1{
    width: 25%; 
    height:425px;
    background-image: url(../Content/images/Louisville.jpg);
    background-size: 100% 100%;
}

.slide2{
    width: 25%; 
    height:425px; 
    background-image: url(../Content/images/Woods.jpg);
    background-size: 100% 100%;
}

.slide3{
    width: 25%;
    height:425px;  
    background-image: url(../Content/images/techRed.jpg);
    background-size: 100% 100%;
}

.navcontainer ul {
    padding-left:250px;
    display: inline;
}

.navbar-brand{
    padding-top:20px;
}

.buttons{
    padding-top:6px;
    text-align:center;
    background-color:black;
}

.socialMediaButtons{
    text-align:center;
    padding:0px;
    list-style:none;
}

.jumbotron {
    font-weight:bold;
    color:white;
    background-color:lightslategrey;
    padding-bottom:10px;
    padding-top:10px;
}

.info{
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color:black;
    padding-left:45px;
    padding-right:45px;
    padding-top:0px;
}

.navbar {
    margin-bottom:0;
}

h1{
    text-align:center;
    font-family:'Franklin Gothic Medium';
}

#mypicture {
    height:350px;
    width:350px;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background-color:black;
}

.contactInfo{
    text-align:center;
    padding-top:100px;
}

.contactHeader{
    font-size:25px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

.form-group{
    font-size:18px;
}

.navbar{
    position:fixed;
    width:100%;
    height:60px;
    background:black;
}

.navcontainer{
        display: inline;
        padding:0;
}

.navbar-text{
    padding-left:270px;
    color:gray;
}

.whoops {
    font-size:30px;
    text-align:center;
    color:white;
    padding-top:50px;
    font-weight:bold;
    
}

#errorBody{
    background-color:black;
    height:auto;
    width:auto;
    margin:0;
    padding:0;
}

#errorHeader {
    padding-top:250px;
    color:white;
    font-size:50px;
    text-decoration:underline;
    font-family:Tahoma;
}

.link{
    color:red;
}






