@font-face{
    font-family:MonsterUnleashed;
    src:url('../Content/Fonts/MonsterUnleashed.ttf');
}

#Welcome{
    margin-top:0;
    text-align:center;
    color:white;
    font-family:MonsterUnleashed;
    font-size:20px
}
#Welcome > a{
    color:black;
    background:lightgray;
    font-family:'Courier New';
    border:2px solid white;
    border-radius:10px;
    padding:10px;
}

#Welcome >a:hover{
    color:black;
    background:limegreen;
    font-family:'Courier New';
    border:2px solid white;
    border-radius:10px;
    padding:10px;
    font-weight:bold;
}

#headerPanel{
    background:none;
}

#panelHeader{
    color:white;
    font-size:40px;
    text-align:center;
    font-family:'Browallia New';
    font-weight:bold;
    padding:0;
    margin:0;
}

#logo{
    height:150px;
    width:150px;
}
#InfoContainer{
    width:800px;
}

#homePanel{
    background-color:rgba(0,0,0,0.6);
    padding:10px;
    border-radius:15px;
}

#myPicture{
    height:300px;
    width:300px;
    opacity:1.0;
    border-radius:5px;
}

#info{
    margin-top:20px;
    text-indent:50px;
    color:white;
    opacity:1.0;
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#startupLink{
    color:#0ae39b;
}

/*Contact*/

.contactInfo{
    text-align:center;
    padding-top:100px;
}

.contactHeader{
    font-size:25px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

.form-group{
    font-size:18px;
}

.row-no-padding{
    padding:0;
    margin-left:0;
    margin-right:0;
}
#photo{
    margin:0;
    padding:0;
    width:400px;
    height:400px;
    margin-left:340px;
    border:2px solid black;
}

/*Error handling*/
.whoops {
    font-size:30px;
    text-align:center;
    color:white;
    padding-top:50px;
    font-weight:bold;
    
}

#errorBody{
    background-color:black;
    height:auto;
    width:auto;
    margin:0;
    padding:0;
}

#errorHeader {
    padding-top:250px;
    color:white;
    font-size:50px;
    text-decoration:underline;
    font-family:Tahoma;
}

.link{
    color:red;
}






