
.unslider { position: relative; overflow:hidden; width:auto;}
.unslider li { list-style: none;}
.unslider ul li {float: right;}

.slides{
    width:25%;
    padding:0;
    margin:0;
}
.slide1{
    width: 25%; 
    height:425px;
    background-image: url(../Content/images/Louisville.jpg);
    background-size: 100% 100%;
}
.slide2{
    width: 25%; 
    height:425px; 
    background-image: url(../Content/images/Woods.jpg);
    background-size: 100% 100%;
}

.slide3{
    width: 25%;
    height:425px;  
    background-image: url(../Content/images/techRed.jpg);
    background-size: 100% 100%;
}

.navcontainer ul {
    padding-left:250px;
    display: inline;
}
.navbar-brand{
    padding-top:20px;
}
.buttons{
    padding-top:6px;
}

.socialMediaButtons{
    text-align:center;
    padding:0px;
    list-style:none;
}

.jumbotron {
    font-weight:bold;
    color:white;
    background-color:lightslategrey;
    padding-bottom:10px;
    padding-top:10px;
}

p {
    color:black;
    padding-left:45px;
    padding-right:45px;
    padding-top:0px;
}

.navbar {
    margin-bottom:0;
}

h1{
    text-align:center;
    font-family:'Franklin Gothic Medium';
}

#mypicture {
    height:375px;
    width:375px;
}

.navbar{
    position:static;
    width:100%;
    height:60px;
    background:#2c2c2c;
}
.navbar-text{
    padding-left:270px;
    color:gray;
}

