<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="memberModalLabel">Select a Social Media platform:</h4>
            </div>
            <div class="modal-body">
                <div class="text-center" id="modalList">
                    <ul id="modalSocialMedia">
                        <li>
                            <a href="https://twitter.com/glen_baldfield" target="_blank">
                                <img id="Twitter" src="~/Content/images/Social Media/TwitterBrandLogo.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/andrew.g.baldridge" target="_blank">
                                <img id="Facebook" src="~/Content/images/Social Media/FacebookBrandLogo.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCLVRJtokdLVvvOGLUVVJcjA" target="_blank">
                                <img id="Youtube" src="~/Content/images/Social Media/YoutubeBrandLogo48.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/profile/view?id=178079960&trk=nav_responsive_tab_profile" target="_blank">
                                <img id="LinkedIn" src="~/Content/images/Social Media/LinkedInBrandLogo.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/andrew_g_baldridge/" target="_blank">
                                <img id="Instagram" src="~/Content/images/Social Media/InstagramBrandLogoColor.png">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
