

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

                <a href="@Url.Action("Index")" class="navbar-brand">Andrew Baldridge</a>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <div class="navcontainer">
                        <div class="hidden-xs">
                            <ul class="nav navbar-nav">

                                <li class="socialMediaButtons">
                                    <a href="https://twitter.com/glen_baldfield" target="_blank">
                                        <img src="~/Content/images/Social Media/twitter.png">
                                    </a>
                                </li>
                                <li class="socialMediaButtons">
                                    <a href="https://www.facebook.com/andrew.g.baldridge" target="_blank">
                                        <img src="~/Content/images/Social Media/facebook.png">
                                    </a>
                                </li>
                                <li class="socialMediaButtons">
                                    <a href="https://www.linkedin.com/profile/view?id=178079960&trk=nav_responsive_tab_profile" target="_blank">
                                        <img src="~/Content/images/Social Media/linkedin.png">
                                    </a>
                                </li>
                                <li class="socialMediaButtons">
                                    <a href="https://instagram.com/glen_baldfield/" target="_blank">
                                        <img src="~/Content/images/Social Media/instagram.png">
                                    </a>
                                </li>
                                <li class="socialMediaButtons">
                                    <a href="https://www.youtube.com/channel/UCLVRJtokdLVvvOGLUVVJcjA" target="_blank">
                                        <img src="~/Content/images/Social Media/youtube.png">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                        
                        <ul class="nav navbar-nav navbar-right">
                            <li class="buttons"><a href="@Url.Action("Index")">Home</a></li>
                            <li class="buttons"><a href="~/Content/PDFs/AndrewBaldridgeResume.pdf" target="_blank">Resume</a></li>
                            <li class="buttons"><a href="@Url.Action("Contact","Home")">Contact Me</a></li>
                        </ul>
                      
                    </div>
        </div>
    </div>
