@*<div class="hidden-xs">
    <ul class="text-left" id="socialMediaIcons">
        <li class="socialMediaButtons">
            <a href="https://twitter.com/glen_baldfield" target="_blank">
                <img src="~/Content/images/Social Media/twitter.png">
            </a>
        </li>
        <li class="socialMediaButtons">
            <a href="https://www.facebook.com/andrew.g.baldridge" target="_blank">
                <img src="~/Content/images/Social Media/facebook.png">
            </a>
        </li>
        <li class="socialMediaButtons">
            <a href="https://www.linkedin.com/profile/view?id=178079960&trk=nav_responsive_tab_profile" target="_blank">
                <img src="~/Content/images/Social Media/linkedin.png">
            </a>
        </li>
        <li class="socialMediaButtons">
            <a href="https://instagram.com/glen_baldfield/" target="_blank">
                <img src="~/Content/images/Social Media/instagram.png">
            </a>
        </li>
        <li class="socialMediaButtons">
            <a href="https://www.youtube.com/channel/UCLVRJtokdLVvvOGLUVVJcjA" target="_blank">
                <img src="~/Content/images/Social Media/youtube.png">
            </a>
        </li>
    </ul>
</div>*@
